/******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/

// font utility class
.font-sm {
	font-size: 16px;
}

.font-md {
	font-size: 19px;
}

.font-lr {
	font-size: 23px;
}

.font-lg {
	font-size: 36px;
}

// margin utility class
.mb-lg {
	margin-bottom: 150px !important;
}

// padding utility class
.pb-lg {
	padding-bottom: 150px !important;
}

// ナビゲーション　スタイル
.header {
	&__nav {
		// desktop表示時に表示する
		display: block;
	}
}

.mobile-menu {
	&__btn {
		// mobileメニューのボタンを表示しない
		display: none;
	}
}
