/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
	// web font
	font-family: 'Kameron','Noto Sans JP', sans-serif;
}

// font utility class
.font-sm {
	font-size: 14px;
}

.font-md {
	font-size: 17px;
}

.font-lr {
	font-size: 17px;
}

.font-lg {
	font-size: 25px;
}

// margin utility class
.mb-sm {
	margin-bottom: 16px !important;
}

.mb-lg {
	margin-bottom: 80px !important;
}

// padding utility class
.pb-sm {
	padding-bottom: 16px !important;
}

.pb-lg {
	padding-bottom: 80px !important;
}

// 左右のスペースを統一
.content-width {
	width: 90%;
	margin: 0 auto;
	max-width: $contentMaxWidth;
}

#container {
	position: relative;
	height: 100vh;
	z-index: 2;
	transition: all 0.5s;
}

.main-title {
	font-weight: 600;
	font-size: 25px;
}
.sub-title {
	display: block;
	font-size: 14px;
	color: $cSubTitle;
}

// ナビゲーション　スタイル
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background-color: transparent;
	height: $navHeight;
	display: flex;
	// justify-content: flex-end;
	align-items: center;
	z-index: 100;

	&__nav {
		// mobile表示時は非表示
		display: none;
	}

	&__ul {
		display: flex;
		align-items: center;
		padding: 0;
		margin: 0;
		list-style: none;
	}

	&__li {
		margin-left: 20px;

		& > a {
			color: $cBlack;
			text-decoration: none !important;
			text-transform: uppercase;
		}
	}

	&__inner {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		@extend .content-width;
	}
}

.content {
	padding-top: $navHeight;
	@extend .content-width;
}
