/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
html {
	font-size: 62.5%;
}

body {
	// web font
	font-family: 'Dosis','Noto Sans JP', sans-serif;
}

// font utility class
.font-sm {
	font-size: 1.4rem;
}

.font-md {
	font-size: 1.7rem;
}

.font-lr {
	font-size: 1.7rem;
}

.font-lg {
	font-size: 2.5rem;
}

// margin utility class
.mb-sm {
	margin-bottom: 16px !important;
}

.mb-lg {
	margin-bottom: 80px !important;
}

// padding utility class
.pb-sm {
	padding-bottom: 16px !important;
}

.pb-lg {
	padding-bottom: 80px !important;
}

// 左右のスペースを統一
.content-width {
	width: 90%;
	margin: 0 auto;
	max-width: $contentMaxWidth;
}

#container {
	position: relative;
	height: 100vh;
	z-index: 2;
	transition: all 0.5s;
}

.main-title {
	font-weight: 600;
	font-size: 2.5rem;
}
.sub-title {
	display: block;
	font-size: 1.4rem;
	color: $cSubTitle;
}

// ナビゲーション　スタイル
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background-color: transparent;
	height: $navHeight;
	display: flex;
	align-items: center;
	z-index: 100;

	&__nav {
		// mobile表示時は非表示
		display: none;
	}

	&__ul {
		display: flex;
		align-items: center;
		padding: 0;
		margin: 0;
		list-style: none;
	}

	&__li {
		margin-left: 20px;

		& > a {
			color: $cBlack;
			text-decoration: none !important;
			text-transform: uppercase;
		}
	}

	&__inner {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		@extend .content-width;
	}
}

.content {
	padding-top: $navHeight;
	// @extend .content-width;
}

.Logo {
	width: 100%;
	padding: 300px 0;
	text-align: center;

	.name_text{
		letter-spacing: 4px;
		font-size: 4rem;
	}

	.job_text {
		letter-spacing: 4px;
		font-size: 2rem;
	}
}

.skills_container	{
	background-color: #f9f9f9;
	width: 100%;
	height: 500px;
	padding-top: 100px;
}

.skills_wrapper	{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.skill {
	width: 200px;
	height: 200px;
	margin: 0 45px 50px 45px;
	background-color: blue;
}
